<div class="container">
  <form [formGroup]="pessoaForm">
    <div class="grid">
      <div class="col-12 mt-5">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="col-12 p-fluid mt-3">
        <label for="nomeInput">Nome</label>
        <input pInputText type="text" id="nomeInput" formControlName="nome"/>
      </div>
      <div class="col-8 p-fluid">
        <label for="logradouro">Logradouro</label>
        <input pInputText type="text" id="logradouro" formControlName="logradouro" />
      </div>
      <div class="col-4 p-fluid">
        <label for="numeroInput">Numero</label>
        <input pInputText type="number" id="numeroInput" formControlName="numero" />
      </div>
      <div class="col-4 p-fluid">
        <label for="complementoInput">Complemento</label>
        <input pInputText type="text" id="complementoInput" formControlName="complemento"/>
      </div>
      <div class="col-4 p-fluid">
        <label for="bairroInput">Bairro</label>
        <input pInputText type="text" id="bairroInput" formControlName="bairro" />
      </div>
      <div class="col-4 p-fluid">
        <label for="cepInput">Cep</label>
        <input pInputText type="number" id="cepInput" formControlName="cep" />
      </div>
      <div class="col-6 p-fluid">
        <label for="cidadeInput">Cidade</label>
        <input pInputText type="text" id="cidadeInput" formControlName="cidade"/>
      </div>
      <div class="col-6 p-fluid">
        <label for="estadoInput">Estado</label>
        <input pInputText type="text" id="estadoInput" formControlName="estado" />
      </div>
      <div class="col-12">
        <button
            pButton
            type="submit"
            label="Salvar"
            disabled="pessoaForm.invalid"
          ></button>
          <button
            pButton
            type="button"
            label="Cancelar"
            class="ml-2 p-button-danger"
            [routerLink]="['/pessoas']"
          ></button>
      </div>
    </div>
  </form>
</div>
