<ng-container *ngIf="lancamentos; else loading">
  <div class="container">
    <div class="p-grid">
      <div class="mt-5 ml-3">
        <h1>Lancamentos</h1>
      </div>
      <div class="p-col-12">
        <p-card>
          <div class="mb-4">
            <a
              class="btn-novo-lancamento"
              pButton
              type="button"
              [routerLink]="['lancamento', 'novo']"
              label="Novo Lançamento"
            ></a>
          </div>
          <p-table
            #lancTab
            [value]="lancamentos"
            [paginator]="true"
            [rows]="5"
            [responsive]="true"
            [rowHover]="true"
          >
            <ng-template pTemplate="caption">
              <div class="ui-helper-clearfix" style="text-align: left">
                <i class="pi pi-search mr-3"></i>
                <input
                  class="input-filtro p-1"
                  paginatorPosition="bottom"
                  focus="true"
                  type="text"
                  pInputText
                  size="50"
                  placeholder="Filtro"
                  (input)="lancTab.filterGlobal($event.target, 'contains')"
                />
                <button
                  pButton
                  type="button"
                  class="ml-3"
                  label="Pesquisar"
                ></button>
              </div>
            </ng-template>

            <ng-template pTemplate="header">
              <tr>
                <th>Pessoa</th>
                <th>Descrição</th>
                <th class="col-data-header">Vencimento</th>
                <th class="col-data-header">Pagamento</th>
                <th class="col-valor-header">Valor</th>
                <th class="col-valor-header"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lancamento>
              <tr>
                <td>{{ lancamento.pessoa.nome }}</td>
                <td>{{ lancamento.descricao }}</td>
                <td class="col-data-content">
                  {{ lancamento.dataVencimento | date: "dd/MM/yyyy" }}
                </td>
                <td class="col-data-content">
                  {{ lancamento.dataPagamento | date: "dd/MM/yyyy" }}
                </td>
                <td
                  class="col-valor-content"
                  [style.color]="
                    lancamento.tipo === 'DESPEZA' ? 'tomato' : 'dodgerBlue'
                  "
                >
                  {{ lancamento.valor }}
                </td>
                <td class="col-data-content">
                  <a
                    [routerLink]=""
                    pButton
                    icon="pi pi-pencil"
                    pTooltip="Editar"
                    tooltipPosition="top"
                  >
                  </a>
                  <button
                    class="ml-2"
                    pButton
                    icon="pi pi-trash"
                    pTooltip="Excluir"
                    tooltipPosition="top"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="container text-center">
    <p class="loading">Loading .... <i class="pi pi-spin pi-spinner"></i></p>
  </div>
</ng-template>
