.footer {
  background-color: rgba(0, 0, 0, 0.2);
  height: 50px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.fixed-footer {
  margin-left: 37%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
}

.fixed-footer a {
  margin-left: 20px;
}

.fixed-footer p {
  font-size: 20px;
}

.linkedin {
  margin-top: 5px;
  width: 40px;
}
