.fixed-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fixed-footer a {
  margin-left: 20px;
}

.fixed-footer p {
  font-size: 20px;
}

.linkedin{
  width: 40px;
}


.footer{
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  bottom: 0;
}
